<div class="thanks" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/banner_t2.jpg');">

  <div class="langs">
    <a href="thanks.html"><h4>EN</h4></a>
  </div>

  <div class="thanks-content">
    <h4>Merci et bienvenue dans notre communauté!</h4>
    <h4>Vous en voulez plus? Likez notre page Facebook</h4>

    <div class="fb-like" data-href="https://www.facebook.com/AloHa-Travel-1861717003901882/?ref=aymt_homepage_panel" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true">
    </div>

    <br>
    <br>
    <h4>Découvrez vos premiers bons plans ici:</h4>
    <a href="https://mailchi.mp/b40ab212a057/alohatravel_sr"><i class="fa fa-rocket fa-2x"></i>FR</a>
    <a href="https://mailchi.mp/2bd02584d929/alohatravel_sr"><i class="fa fa-rocket fa-2x"></i>EN</a>

  </div>
</div>
