<div class="thanks" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.7) 0%, rgba(0,36,61,0.7) 50%), url('images/banner_t2.jpg');">

  <div class="langs">
    <a href="thanks_fr.html"><h4>FR</h4></a>
  </div>

  <div class="thanks-content">
    <h3>Thanks and welcome to our community!</h3>
    <h4>The website is coming soon. Meanwhile, like our Facebook page to find many of our good tips.</h4>

    <div class="fb-like" data-href="https://www.facebook.com/AloHa-Travel-1861717003901882/?ref=aymt_homepage_panel" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true">
    </div>

    <br>
    <br>
    <h4>And begin your travel bucket list here:</h4>
    <a href="https://mailchi.mp/b40ab212a057/alohatravel_sr"><i class="fa fa-rocket fa-2x"></i>FR</a>
    <a href="https://mailchi.mp/2bd02584d929/alohatravel_sr"><i class="fa fa-rocket fa-2x"></i>EN</a>

  </div>
</div>
